@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


:root {
    --cor-primaria: #22d4fd;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria:#000;
    --cor-hover: #272727;
    --fonte-primaria:'Krona One', sans-serif;
    --fonte-secundaria: 'montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}


body {
    background-color:var(--cor-terciaria);
    color: var(--cor-secundaria);
    /*height: 100vh;*/
    box-sizing: border-box;
    
}

.Cabecalho{
   padding: 2% 0% 0% 12%;
}
.Cabecalho_menu{
    display: flex;
    gap: 80px;
}

.Cabecalho_menu_links{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-primaria);
    text-decoration: none;
}

.titulo-destaque {
    color:var(--cor-primaria);
}

.apresentacao {
    padding: 1% 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}


.apresentacao_conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.apresentacao_conteudo_titulo {
    font-family: var(--fonte-primaria);
    font-size: 2rem;
}

.apresentacao_conteudo_texto {
    font-size: 1.125rem;
    font-family: var(--fonte-secundaria);
    ;
}

.apresentacao_links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.apresentacap_links_subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 0.93rem;
}

.apresentacao_links_link{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21px 0;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    border: 2px solid var(--cor-primaria);
}

.apresentacao_links_link:hover{
    background-color:var(--cor-hover);
}

.apresentacao_imagem{
    width: 50%;
    box-sizing: border-box;   
    border: 3px solid var(--cor-primaria);
    border-radius: 16px;
    left: 1072px;
    top: 329px;
}

.rodape {
    color: var(--cor-terciaria);
    background-color:var(--cor-primaria);
    padding: 15px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.25rem;
    font-weight: 400;
}

.apresentacao_curriculo {
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.apresentacao_curriculo_lista{
    font-size: 0.93rem;
    font-family: var(--fonte-secundaria);
    
}

.apresentacao_curriculo_texto{
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
    ;
}

.apresentacao_curriculo_texto.subtitulo{
    color: var(--cor-primaria);
}

.apresentacao_curriculo_lista li {
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: var(--cor-primaria);
}

@media (max-width: 1069px){
    .Cabecalho{
        padding: 10%;
    }
   
    .Cabecalho_menu{
        justify-content: center;
        gap: 47px;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao_conteudo{
        width: auto;
    }

    .apresentacao_curriculo {
        width: auto;
    }

}